# Laravel
/vendor
/node_modules
/bootstrap/cache
/storage
/storage/*.key
/storage/*.log
/storage/framework/*
/.env
/.env.*.local
/.phpunit.result.cache
/public/storage
/public/hot
/public/build
/public/mix-manifest.json
/public/*.hot
/database/*.log
/database/*.json
/.vite

# Composer
/composer.lock
/vendor

# NPM/Yarn
/node_modules
/package-lock.json
/yarn.lock
/pnpm-lock.yaml
/.pnp

# Nuxt
/frontend/.output
/frontend/.nuxt
/frontend/.nitro
/frontend/.nuxt-storybook
/frontend/coverage
/frontend/node_modules


# IDE и системные файлы
/.idea
/.vscode
*.swp
*.swo
.DS_Store
Thumbs.db
